<h1>Listing flats</h1>

<table>
  <tr>
    <th>Stotal</th>
    <th>Slive</th>
    <th>Wc</th>
    <th>Floor</th>
    <th>Comment</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @house.flats.each do |flat| %>
  <tr>
    <td><%= flat.stotal %></td>
    <td><%= flat.slive %></td>
    <td><%= flat.wc %></td>
    <td><%= flat.floor %></td>
    <td><%= flat.comment %></td>
    <td><%= flat.cost %></td>
    <td><%= link_to 'Show', flat %></td>
    <td><%= link_to 'Edit', edit_flat_path(flat) %></td>
    <td><%= link_to 'Destroy', flat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flat', new_flat_path %>
