<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @house.name %>
</p>

<p>
  <b>Описание:</b>
  <%= @house.description %>
</p>

<p>
  <b>Адрес:</b>
  <%= @house.address %>
</p>

<%= link_to 'Add flat', new_house_flat_path(@house.id)  %>
<br />

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>

<%= render  :template => 'flats/index' %>
