<%= form_for(@flat) do |f| %>
  <% if @flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
      <% @flat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Общая площадь %><br />
    <%= f.text_field :stotal %>
  </div>
  <div class="field">
    <%= f.label :Жилая площадь %><br />
    <%= f.text_field :slive %>
  </div>
  <div class="field">
    <%= f.label :Санузел %><br />
    <%= f.text_field :wc %>
  </div>
  <div class="field">
    <%= f.label :Этаж %><br />
    <%= f.text_field :floor %>
  </div>
  <div class="field">
    <%= f.label :Описание %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :Цена %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
