<p id="notice"><%= notice %></p>

<p>
  <b>Stotal:</b>
  <%= @flat.stotal %>
</p>

<p>
  <b>Slive:</b>
  <%= @flat.slive %>
</p>

<p>
  <b>Wc:</b>
  <%= @flat.wc %>
</p>

<p>
  <b>Floor:</b>
  <%= @flat.floor %>
</p>

<p>
  <b>Comment:</b>
  <%= @flat.comment %>
</p>

<p>
  <b>Cost:</b>
  <%= @flat.cost %>
</p>


<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
